async-generator
attrs
autopep8
beautifulsoup4
certifi
cffi
charset-normalizer
click
cryptography
Flask
gunicorn
h11
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
outcome
pycodestyle
pycparser
pyOpenSSL
PySocks
requests
selenium
sniffio
sortedcontainers
soupsieve
toml
trio
trio-websocke
urllib3
Werkzeug
wsproto
zipp