<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='./images/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Airline tickets</title>
</head>
    <body> 
        <header>
            <div class='navbar'>
                    <a class="logo" href="/"><img src="{{ url_for('static', filename='./images/logo.png')}}" alt="logo"></a>
            </div>
        </header>
        <form method="post">
        <div class="container-main">
            <div class="content">
                <h1>Escolha os filtros da sua busca</h1>
                <div class="value">
                    <label>Defina um preço limite</label>
                    <label class="custom-range-slider range">
                        <input type="range" max="5000" min="500" value="1000" name='preco'>
                    </label>
                </div>
                <div class="from">
                    <div class="input-from">
                        <label>Origem <i class='required'>*</i></label>
                        <div class='from-field'>
                            <i class="fa-solid fa-plane-departure"></i>
                            <input type="text" name="origem" id="input">
                            <ul class="list"></ul>
                        </div>
                    </div>
                    <a class='button-repeat' id='btn-r'><i class="fa-solid fa-repeat"></i></a>
                    </button>
                    <div class="input-from">
                        <label>Destino <i class='required'>*</i></label>
                        <div class="from-field">
                            <i class="fa-solid fa-plane-arrival"></i>
                            <input type="text" name="destino" id="input1">
                            <ul class="list-two"></ul>
                        </div>
                    </div>
                </div>
                <div class="dates">
                    <div class="button-date">
                        <input type="checkbox" id="fruit1" name="somenteIda" value='ativo'>
                        <label for="fruit1">Somente ida</label>
                    </div>
                    <div class="content-date">
                        <div class="value">
                            <label>Ida <i class='required'>*</i></label>
                            <input class='range-value' type="date" name="ida">
                        </div>
                        <div class="value">
                            <label>Volta <i class='required' id='required-volta'>*</i></label>
                            <input class='range-value' type="date" name="volta" id="date-volta">
                        </div>    
                    </div>
                </div>
                <button class="button-scraping" type="submit" >Buscar passagens áreas</button>
            </div>
            {% if erro %}
            <p class="error">
                {{erro}}
            </p>
            {% endif %}
        </div>
        </form>
        <footer>
            <div class='footer-datas'>
                <div class='footer-links'>
                    <a href="https://github.com/ryanbsdeveloper" target='_blank'> <i class="fa-brands fa-github"></i> </a>
                    <a href="https://www.linkedin.com/in/ryanbarbosasilva/" target='_blank'> <i class="fa-brands fa-linkedin-in"></i> </a>
                </div>
                <div class='footer-details'>
                    <h1><strong>ryanbs</strong>developer</h1>
                    <p><strong>"The only way to do something great is to love what you do." </strong>.</p>
                    <p>Brasil, São paulo - Guarulhos</p>
                </div>

            </div>
                <p>© ryanbsdeveloper. Todos os diretos reservados</p>
        </footer>
        <script src="https://kit.fontawesome.com/5fc40ce3b8.js" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
    </body>
</html>