<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='./images/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Airline tickets</title>
</head>
    <body> 
        <header>
            <div class='navbar'>
                <a class="logo" href="{{url_for('index')}}"><img src="{{ url_for('static', filename='./images/logo.png')}}" alt="logo"></a>
            </div>
        </header>
        <div class="container-main">
            <form method="POST">
                {% if dados.passagens_achadas != 'false' %}
                    <h1 class='subtitle-page'> Resultados da sua busca</h1>
                    {% for passagem in passagens %}
                        {% if passagem[0] %}
                            <div class='box-main'>
                                <div class='content-tickets'>
                                    <div class='box-from'>
                                        <span class='from-datas distac'>
                                            <div class='go-back'>
                                                <i class="fa-solid fa-plane ida"></i> 
                                                <p>{{ passagem[0] }}</p>
                                            </div>
                                            <p>{{ dados.data }}</p>
                                        </span>
                                        <span class='from-datas'>
                                            <i>{{ dados.origem }}</i> 
                                            <p>{{ dados.origem_estado }}</p>
                                        </span>
                                        <span class='from-datas'>
                                            <i>{{ dados.destino }}</i> 
                                            <p>{{ dados.destino_estado }}</p>
                                        </span>
                                    </div>
                                    <div class='box-content'>
                                        <div>
                                            <h4>Opção de IDA</h4> <h5 class='more-options'>Mais opções no site da companhia áerea</h5>
                                        </div>
                                        <div class="box-flights-from">
                                            <span class='flights-data'>
                                                {% if passagem[1] == 'LATAM' %}
                                                    <img src="{{url_for('static', filename='images/latam.png')}}" alt="{{ passagem[1] }}">
                                                {% elif passagem[1] == 'Azul' %}
                                                    <img src="{{url_for('static', filename='images/azul.png')}}" alt="{{ passagem[1] }}">
                                                {% elif passagem[1] == 'Gol' %}
                                                    <img src="{{url_for('static', filename='images/gol.png')}}" alt="{{ passagem[1] }}">
                                                {% elif passagem[1] == 'Avianca' %}
                                                    <img src="{{url_for('static', filename='images/avianca.png')}}" alt="{{ passagem[1] }}">
                                                {% endif %} 
                                            </span>
                                            <span class='flights-data'>
                                                <p class='flights-hour'>{{ passagem[2] }}</p> <p class='state-flight'>{{ passagem[3] }}</p>
                                            </span>
                                            <span class='flights-data'>
                                                <p class='flights-hour'>{{ passagem[4] }}</p> <p class='time-flight'>{{ passagem[5] }}</p>
                                            </span>
                                        </div>
                                    </div>
                                    {% if '20' in dados.data_volta %}
                                        <div class='box-from'>
                                            <span class='from-datas distac'>
                                                <div class='go-back'>
                                                    <i class="fa-solid fa-plane invert" > </i>
                                                    <p> VOLTA</p>
                                                </div>
                                                <p>{{ dados.data_volta }}</p>
                                            </span>
                                            <span class='from-datas'>
                                                <i> {{ dados.destino }}</i> 
                                                <p>{{ dados.destino_estado }}</p>
                                            </span>
                                            <span class='from-datas'>
                                                <i> {{ dados.origem }} </i> 
                                                <p>{{ dados.origem_estado }}</p>
                                            </span>
                                        </div>
                                        <div class='box-content'>
                                            <div>
                                                <h4>Opção de VOLTA</h4> <h5 class='more-options'>Mais opções no site da companhia áerea</h5>
                                            </div>
                                            <div class="box-flights-from">
                                                <span class='flights-data'>
                                                {% if passagem[-6] == 'LATAM' %}
                                                    <img src="{{url_for('static', filename='images/latam.png')}}" alt="{{ passagem[-6] }}">
                                                {% elif passagem[-6] == 'Azul' %}
                                                    <img src="{{url_for('static', filename='images/azul.png')}}" alt="{{ passagem[-6] }}">
                                                {% elif passagem[-6] == 'Gol' %}
                                                    <img src="{{url_for('static', filename='images/gol.png')}}" alt="{{ passagem[-6] }}">
                                                {% elif passagem[-6] == 'Avianca' %}
                                                    <img src="{{url_for('static', filename='images/avianca.png')}}" alt="{{ passagem[-6] }}">
                                                {% endif %} 
                                                </span>
                                                <span class='flights-data'>
                                                    <p class='flights-hour'>{{ passagem[-5] }}</p> <p class='state-flight'>{{ passagem[-4] }}</p>
                                                </span>
                                                <span class='flights-data'>
                                                    <p class='flights-hour'>{{ passagem[-3] }}</p> <p class='time-flight'>{{ passagem[-2] }}</p>
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <p>Para mais informações das passagens acesse o site da companhia aérea</p>
                                </div>
                                <div class="box-values">
                                    <span class="value-one">
                                        <h3>Preço por adulto</h3>
                                        <h4><i>R$</i> {{ passagem[-1][0] }}</h4>
                                    </span>
                                    <span class="taxas">
                                        <span class="element-taxa">
                                            <p>1 Adulto</p> <p>R$ {{ passagem[-1][1] }}</p>
                                        </span>
                                    </span>
                                    <span class="taxas">
                                        <span class="element-taxa">
                                            <p>Impostos e taxas</p> <p>R$ {{ passagem[-1][2] }}</p>
                                        </span>
                                    </span>
                                    <hr class='line-value'>
                                    <span class="value-final">
                                        <p>Preço final</p> <p class='larger'><i>R$</i> {{ passagem[-1][3] }}</p>
                                    </span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <img src="{{ url_for('static', filename='./images/empty.png')}}" alt="Sem resultado">
                    <h1 class='subtitle-page'>Desculpe-nos não conseguimos fazer a filtragem.</h1>
                    <h3 class='style-gray'>Tente novamente com outros filtros.</h3>
                    <button class="button-scraping" type="submit" ><a href="{{url_for('index')}}" class='style-white'> Fazer uma nova busca </a></button>
                {% endif %}
            </form>
        </div>
        <footer>
            <div class="footer-datas">
                <div class="footer-links">
                    <a href="https://github.com/ryanbsdeveloper" target="_blank"> <i class="fa-brands fa-github"></i> </a>
                    <a href="https://www.linkedin.com/in/ryanbarbosasilva/" target="_blank"> <i class="fa-brands fa-linkedin-in"></i> </a>
                </div>
                <div class="footer-details">
                    <h1><strong class='developer'>ryanbs</strong>developer</h1>
                    <p><strong>"The only way to do something great is to love what you do."</strong></p>
                    <p>Brazil, São paulo - Guarulhos</p>
                </div>
            </div>
                <p>© ryanbsdeveloper. All rights reserved</p>
        </footer>
    <script src="https://kit.fontawesome.com/5fc40ce3b8.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    </body>
</html>